@import 'tailwindcss';

:root {
  --background: #f6f6f6;
  --foreground: #171717;

  /* Add your project brand colors */
  --bg-primary: #ffffff;
  --primary: #f69348;
  --primary-hover: #e87e2e; /* darker shade */
  --secondary: #4b5563; /* example gray */
  --title: #1f2937; /* gray-800 */
  --title-sub: #6b7280; /* gray-500 */
}
/* ---------- Dark mode (manual toggle via next-themes .dark class) ---------- */
/* .dark {
  --background: #131313;
  --foreground: #ededed;

  --bg-primary: #0a0a0a;
  --primary: #48f657;
  --primary-hover: #e87e2e;
  --secondary: #9ca3af;
  --title: #f1f1f1;
  --title-sub: #9ca3af;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-bg-primary: var(--bg-primary);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-title: var(--title);
  --color-title-sub: var(--title-sub);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ededed;
    --bg-primary: #0a0a0a;
    --primary: #f69348;
    --primary-hover: #e87e2e;
    --secondary: #9ca3af;
    --title: #f1f1f1;
    --title-sub: #6b7280;
  }
} */

/* Example animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
